<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Want to go to @event, <%= @receiver.name %>?</h1>
    <p>
      <%=@sender.name%> wants to go with you!<br>
    </p>
    <p>
      Their email is <%= @sender.email %>. Why don't you email them?
    </p>
    <p>Have fun!</p>
  </body>
</html>