<%= form_for(current_user.attendances.build(event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <%= f.submit "Attending", class: "custom-button-big btn btn-large btn-primary" %>
<% end %>