<% provide(:title, 'Events') %>
<h1>Events</h1>

<div class = "container col-md-4" >
	<ul class="events">
  		<% @events.each do |event| %>
  			<div>
			    <div class = "single-event">
			      <%= link_to event.name, event %>
			      <img src= <%=event.picture%> class = "event-picture">
			    <div>
			</div>
		<% end %>
	</ul>
</div?